body {
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 30%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    /* margin: 1rem; */
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 1px;
}

